<footer>
    <div class="footer">
        <div class="footer-icons">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-discord"></i></a>
        </div>
        <div class="footer-copyright">
            <a href="#">&copy; EscapeNest Private Limited </a>
        </div>
        <div class="footer-privacy">
            <a href="#">Privacy</a>&nbsp;
            <a href="#">Terms</a>&nbsp;
        </div>
    </div>
</footer>