<nav class="navbar sticky-top navbar-expand-lg  border-bottom" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-route" style="color: #fe2001;"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link "  href="/">Home</a>
        <a class="nav-link" href="/listings">Listings</a>
        <a class="nav-link" href="/listings/new">Add New Listing</a>
      </div>
      <div class="navbar-nav ms-auto">
        <%if(currentUser){%>
            <span class="navbar-text"><%=currentUser.username%></span>&nbsp;&nbsp;
            <a class="nav-link" href="/account/logout">Logout</a>
          <%}%>
          <%if(!currentUser){%>
            <a class="nav-link" href="/account/login">Login</a>
            <a class="nav-link" href="/account/signup">Signup</a>
          <%}%>        
      </div>
    </div>
  </div>
</nav>