<%-layout("/layouts/boilerplate")%>
<body>

    <h3 class="m-3">Create New Listing:</h3>
        <div class="col-8 offset-1">
            <form method="post" action="/listings/new" class="needs-validation" novalidate>
                <div class="m-3">
                    <label for="title" class="form-label">Title:</label>
                    <input id="title" placeholder="Enter A Catchy Title" class="form-control" name="title" type="text" required>
                    <!-- <div class="valid-feedback">
                        Looks good!
                    </div> -->
                    <div class="invalid-feedback">
                        Title should be valid
                    </div>
                </div>
                <div class="m-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" placeholder="Describe your hotel briefly..." class="form-control" name="description" type="text"></textarea>
                </div>
                <div class="m-3">
                    <label for="image" class="form-label">Image Link:</label>
                    <input  name="image" placeholder="Paste the image Link here" id="image" class="form-control"></input>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="m-3">
                            <label for="price" class="form-label">Price:</label>
                            <input  id="price" placeholder="Price Here" class="form-control" name="price" required>
                            <div class="invalid-feedback">
                                Price should not be empty
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="m-3">
                            <label for="location" class="form-label">Location:</label>
                            <input type="text" id="location" placeholder="Enter the Location" class="form-control" name="location">
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" id="country" placeholder="Enter the Country" class="form-control" name="country">
                </div>
                <button class="btn m-3 btn-outline newpage-button">Add</button>
            </form>
        </div>
</body>