body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.container1{
    flex:1;
    width:100%;
    padding:0 3rem;
}


.navbar{
    height:5rem;
    z-index:10;
}
.fa-route{
    font-size:2rem;
}
footer a{
    text-decoration:none;
    color:black;
}
footer .footer{
    /* border-top:2px solid black; */
    background-color:azure;
    display:flex;
    flex-wrap:wrap;
    height:8rem;
    align-items:center;
}

.footer a{
    color: #777;
}

.footer a:hover{
    color: Black;
}

h3{
    width:auto !important;
}

.footer-icons a{
    margin: 0 8px;
}
.footer .footer-icons,
.footer .footer-copyright,
.footer .footer-privacy{
    width:100%;
    text-align:center;
    
}
.footer .footer-copyright :hover,
.footer .footer-privacy :hover{
    text-decoration:underline;
}
.index-cards{
    width: 25rem;
    /* margin-bottom:50px; */
    border:none !important;
}
.index-listings-div{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    
}
.index-cards .card-img-top{
    border-radius:1rem;
    height:16rem;
    width:100%;
    object-fit:cover;
}
.index-cards .card-body{
    padding:0 !important;
}
/*  <weight>: Use a value from 200 to 800
    <uniquifier>: Use a unique and descriptive class name */
.card-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
}

.listing-link{
    text-decoration:none;
}
.index-cards .card-img-overlay{
    opacity:0;
}
.index-cards .card-img-overlay:hover{
    opacity:0.1;
    background-color:white;
}
.newpage-button{
    background-color:#fe2001;
    color:white;
}
.editpage-button, .home-btn,.submit-comment-button{
    background-color:#fe2001;
    color:white;
}
.submit-comment-button:hover, .newpage-button:hover,.editpage-button:hover, .home-btn:hover{
    color:#fe2001;
}
.view-card{
    border:none !important;
}
.show-img{
    height:40vh;
    object-fit:cover;
    border-radius:20px;
}
.edit-img{
    width:100%;
    border-radius:20px;
    height:40vh;
    object-fit:cover;
}




.error-page1 .error-container {
  text-align: center;
  padding: 80px 20px;
}
.error-page1 .error-code {
  font-size: 120px;
  font-weight: 700;
  color: #ff4c29;
}
.error-page1 .error-message {
  font-size: 24px;
  margin-top: 10px;
  color: #333;
}
.error-page1 .error-subtext {
  font-size: 16px;
  margin-top: 10px;
  color: #666;
}
.error-page1 .btn-home {
  margin-top: 30px;
  background-color: #ff3300;
  color: #fff;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 30px;
}
.error-page1 .btn-home:hover {
  background-color: #cc2900;
}

.error-page1 .logo {
  max-width: 60px;
  margin-bottom: 20px;
}

.rating-div #rating{
    width:30%;
    
}

.comment-section-div{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

#map{
    width:74%;
    height:400px;
    border-radius:20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top:15px;
    margin-bottom:15px;
}
